<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A336E9752B1F8612007D85CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A363B9A42B166B9A001E71CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37D9CE92B0D6220003EF8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37D9CF12B0D6220003EF8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CD2C1A2B23742D00481164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CD2C212B23742E00481164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
